<aside class="sidebar">

    <h2 class="sidebar__title">

        Categorías

    </h2>

    <ul class="sidebar__menu">

        <li class="sidebar__item active" data-category="todos">

            <i class="fa-solid fa-store"></i>

            <span>Todos los productos</span>

        </li>

        <li class="sidebar__item" data-category="frutas">

            <i class="fa-solid fa-apple-whole"></i>

            <span>Frutas</span>

        </li>

        <li class="sidebar__item" data-category="verduras">

            <i class="fa-solid fa-carrot"></i>

            <span>Verduras</span>

        </li>

        <li class="sidebar__item" data-category="carnes">

            <i class="fa-solid fa-drumstick-bite"></i>

            <span>Carnes</span>

        </li>

        <li class="sidebar__item" data-category="lacteos">

            <i class="fa-solid fa-cheese"></i>

            <span>Lácteos</span>

        </li>

        <li class="sidebar__item" data-category="bebidas">

            <i class="fa-solid fa-wine-bottle"></i>

            <span>Bebidas</span>

        </li>

        <li class="sidebar__item" data-category="panaderia">

            <i class="fa-solid fa-bread-slice"></i>

            <span>Panadería</span>

        </li>

        <li class="sidebar__item" data-category="abarrotes">

            <i class="fa-solid fa-bowl-rice"></i>

            <span>Abarrotes</span>

        </li>

        <li class="sidebar__item" data-category="limpieza">

            <i class="fa-solid fa-pump-soap"></i>

            <span>Limpieza</span>

        </li>

        <li class="sidebar__item" data-category="mascotas">

            <i class="fa-solid fa-paw"></i>

            <span>Mascotas</span>

        </li>

        <li class="sidebar__item" data-category="hogar">

            <i class="fa-solid fa-house"></i>

            <span>Hogar</span>

        </li>

        <li class="sidebar__item" data-category="tecnologia">

            <i class="fa-solid fa-laptop"></i>

            <span>Tecnología</span>

        </li>

    </ul>

</aside>