<section class="catalogo">

    <div class="catalogo__header">

        <div>

            <h2>

                Productos destacados

            </h2>

            <p>

                Encuentra los mejores productos al mejor precio.

            </p>

        </div>

        <button
            id="btnVerMas"
            class="catalogo__button">

            Ver más productos

        </button>

    </div>

    <div
        id="productosContainer"
        class="catalogo__grid">

    </div>

</section>