<section class="hero">

    <div class="hero__content">

        <span class="hero__tag">

            🌱 EcoMart

        </span>

        <h1>

            Ahorra hasta un <strong>40%</strong>

        </h1>

        <p>

            Descubre las mejores ofertas en frutas, verduras,
            bebidas, carnes y mucho más.

        </p>

        <button class="hero__button">

            Comprar ahora

        </button>

    </div>

    <div class="hero__image">

        <img
            src="assets/img/banners/hero.png"
            alt="EcoMart">

    </div>

</section>