/*=========================================================
                ADMIN NAVBAR
=========================================================*/

.admin-navbar{

    height:80px;

    background:white;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 35px;

    border-bottom:1px solid #E5E7EB;

    box-shadow:0 3px 12px rgba(0,0,0,.05);

}

.admin-navbar__left h1{

    font-size:28px;

    color:#1F2937;

}

.admin-navbar__right{

    display:flex;

    align-items:center;

    gap:25px;

}

.admin-notification{

    width:45px;

    height:45px;

    border:none;

    border-radius:50%;

    background:#F3F4F6;

    cursor:pointer;

    transition:.3s;

}

.admin-notification:hover{

    background:#E5E7EB;

}

.admin-notification i{

    font-size:18px;

}

.admin-user{

    display:flex;

    align-items:center;

    gap:12px;

}

.admin-user img{

    width:46px;

    height:46px;

    border-radius:50%;

}

.admin-user span{

    font-weight:600;

    color:#374151;

}